<mat-stepper linear #stepper (selectionChange)="stepperSelectionChange($event)" orientation="vertical">
    <mat-step #step1 [completed]="false">
        <form [formGroup]="step1FormGroup" (ngSubmit)="onStep1Submit()">
            <ng-template matStepLabel>Select Data</ng-template>
            <mat-radio-group *ngIf="resultsSet !== undefined" formControlName="step1SelectedIndex"
                style="display: flex; flex-flow: wrap; justify-content: space-around;">
                <div *ngFor="let results of resultsSet; let i=index;" class="radioContent">

                    <mat-radio-button color="primary" [value]="i">
                        <span #tooltip="matTooltip" [matTooltip]="results.name">
                            {{results.name}}
                        </span>
                    </mat-radio-button>
                    <div style="width: 80%; height: 80%; margin: 4px auto; border: 1px solid #ddd;" #ContainerRef1>
                        <ngx-charts-line-chart appTflNgxCLC
                            [view]="[ContainerRef1.offsetWidth, ContainerRef1.offsetHeight]" [results]="[results]"
                            [legend]="false">
                        </ngx-charts-line-chart>
                    </div>
                </div>
            </mat-radio-group>
            <div *ngIf="step1SelectedIndex.invalid &&
                 (step1SelectedIndex.dirty || step1SelectedIndex.touched || step1Submitted)" class="alert">
                <div *ngIf="step1SelectedIndex.errors?.required">
                    Please select a chart.
                </div>
            </div>
            <br>
            <div style="display: flex;">
                <span class="spacer"></span>
                <button mat-flat-button color="primary" class="icon-button">
                    <mat-icon>arrow_right</mat-icon>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step #step2 [completed]="false">
        <form [formGroup]="s2FormGroup" (ngSubmit)="onStep2Submit()">
            <br>
            <ng-template matStepLabel>Select Range</ng-template>

            <div *ngIf="step1Data !== undefined">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a data range</mat-label>
                        <mat-date-range-input [rangePicker]="drp" [min]="step1Data.minDate" [max]="step1Data.maxDate">
                            <input matStartDate placeholder="Start date" formControlName="s2StartDate"
                                (dateChange)="dataRangeChange($event)">
                            <input matEndDate placeholder="End date" formControlName="s2EndDate"
                                (dateChange)="dataRangeChange($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="drp"></mat-datepicker-toggle>
                        <mat-date-range-picker #drp></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div style="width: 100%; height: 300px;" #ContainerRef2>
                    <ngx-charts-line-chart appTflNgxCLC [view]="[ContainerRef2.offsetWidth, ContainerRef2.offsetHeight]"
                        [results]="step2ViewRangeData">
                    </ngx-charts-line-chart>
                </div>
                <br>
                <div style="display: flex;">
                    <button mat-flat-button color="primary" matStepperPrevious class="icon-button">
                        <mat-icon>arrow_left</mat-icon>
                        Back
                    </button>
                    <span class="spacer"></span>
                    <button mat-flat-button color="primary" class="icon-button">
                        <mat-icon>arrow_right</mat-icon>
                        Next
                    </button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [completed]="false">
        <ng-template matStepLabel>Result</ng-template>

        <div *ngIf="step3Data !== undefined">
            <app-investment-result-and-source [serie]="step3Data"></app-investment-result-and-source>
        </div>
        <br>
        <div style="display: flex;">
            <button mat-flat-button color="primary" matStepperPrevious class="icon-button">
                <mat-icon>arrow_left</mat-icon>
                Back
            </button>
        </div>
    </mat-step>
</mat-stepper>