<button mat-icon-button class="hover-effect" (click)="menuClick()"
    [@menuBtnAnimation]="isShownMenu ? 'show' : 'hidden'">
    <mat-icon>menu</mat-icon>
</button>
<button mat-flat-button color="primary" class="hover-effect title-font" [routerLink]="'/'">
    <mat-icon>cottage</mat-icon>
    Hong Cheng-Wei
</button>

<button *ngFor="let linkInfo of displayedLinkInfos" mat-flat-button color="primary" class="hover-effect"
    [routerLink]="linkInfo.url">
    {{linkInfo.displayName}}
</button>

<span class="spacer"></span>
<a mat-icon-button color="primary" class="hover-effect" href="https://github.com/balato1992/p.angular-sample/">
    <mat-icon svgIcon="githubicon" style="color: #fff;"></mat-icon>
</a>