<button mat-icon-button (click)="menuClick()" [@menuBtnAnimation]="isMenuBtnVisible ? 'show' : 'hidden'">
    <mat-icon>menu</mat-icon>
</button>
<!--
<button mat-flat-button color="primary" [routerLink]="'/'">
    Main
</button>
-->
<button mat-flat-button color="primary" [routerLink]="'/investment/versus'">
    Investment
</button>
<button mat-flat-button color="primary" class="hover-effect" [routerLink]="'/projects-and-examples'">
    Projects&Examples
</button>
<span class="spacer"></span>
<a mat-flat-button color="primary" class="hover-effect" href="https://github.com/balato1992/p.angular-sample/">
    <mat-icon svgIcon="githubicon" style="margin: 0 4px 3px 0;"></mat-icon>
    GitHub
</a>
