<div class="inner-content">
    <h1 style="font-size: 32px; padding-top: 12px;">Tools</h1>

    <table style="width: 100%">
        <tr>
            <td rowspan="2">ScreenCapture</td>
            <td>Picpick</td>
            <td>
                https://picpick.app/zh-tw/
            </td>
        </tr>
        <tr>
            <td>Windows (Win + Shift + S)</td>
        </tr>

        <tr>
            <td>API platform 網頁通訊測試</td>
            <td>PostMan</td>
            <td></td>
        </tr>
        <tr>
            <td>Database Management</td>
            <td>Navicat</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3">繪圖</td>
            <td>miro</td>
            <td></td>
        </tr>
        <tr>
            <td>Draw.io</td>
            <td></td>
        </tr>
        <tr>
            <td>Microsoft Visio</td>
            <td></td>
        </tr>
    </table>
</div>

<!--
備份 EaseUS Todo Backup Free https://tw.easeus.com/backup-software/todo-backup-free.html
http://www.fox-saying.com/blog/post/43730227
Acronis

資料庫結構 Navicat Data Modeler
-->
