h2 {
    margin-block-end: 0.4rem;
}

.content {
    margin: 0 1.5rem;
}

.cusflex {
    padding: 0 1rem;
    width: calc((100% - 1rem * 6) / 3);
}

.exp-title {
    padding: 0.5rem 0;
}

.exp-title>.title {
    font-size: larger;
    font-weight: 600;
}

.exp-content {
    padding: 0 1rem;
}

.exp-content ul {
    margin: 0.5rem 0;
}