<div class="inner-content">
    <h1 style="font-size: 32px; padding-top: 12px;">About</h1>

    <div>
        - 洪晟崴
        - 軟體工程師

        - balato1992@gmail.com
        https://balato1992.github.io

        <ul>
            <li>
                <a mat-icon-button color="primary" class="hover-effect" href="https://github.com/balato1992/">
                    <mat-icon svgIcon="githubicon" style="color: #000;"></mat-icon>
                </a>
            </li>
            <li>https://leetcode.com/HongChengWei/</li>
            <!--<li>https://www.cakeresume.com/me/balato</li>-->
            <!-- linkedin -->
        </ul>

        
        

        <!--
            - facebook
            - twitter
            - linkedin
        -->
    </div>

    <div>
        語文能力
        英文：中等
    </div>

    <div>
        <h2>關於(About)/人格特質</h2>

        解決問題 是工程師的任務，但解決問題前
        怎麼解決 如何解決
        聰明的解決 解決的聰明
        公司文化
        理解使用者需求 以有邏輯性的方式 完成使用者目標
        習慣以有系統的方式處理問題，
        善於找出問題的原因
        不畏懼挑戰
        學習 精進
    </div>


    <div>
        <h2>專業技能</h2>
        - 使用各種工具完成需求
        - 熟悉使用網路資源與文件查找並解決問題

        - 略懂
        - 系統整合
        - 使用者需求，功能設計，資料流程，功能流程，設計各系統功能與

        - win
        - 前後端
        - 系統維護，重構
    </div>

    <div>
        <h2>程式語言</h2>
        C#

        <table>
            <tr>
                <td> </td>
                <td style="width: 30%;">Windows</td>
                <td>網頁前端</td>
                <td>網頁後端</td>
                <td>Database</td>
            </tr>
            <tr>
                <td>普通/熟悉</td>
                <td>WPF</td>
                <td>
                    Angular<br>
                    TypeScript<br>
                    Kendo UI(繪圖)<br>
                    HTML, CSS, JavaScript
                </td>
                <td>.Net Core MVC</td>
                <td></td>
            </tr>
            <tr>
                <td>基本</td>
                <td>WinForm</td>
                <td>Vue.js, React, AngularJS</td>
                <td></td>
                <td>SQL, MongoDB</td>
            </tr>
        </table>

        其他
        github

    </div>

    <div>
        <h2>經歷/學歷</h2>

        <div>

            先知科技 2016/07~2020/03
            專案整合
            與同事完成N項專案
        </div>

        <div>
            利錄科技股份有限公司 2016/01~2016/07
            - AngularJS 製作官網
        </div>

        <div>
            臺南大學 資訊工程學系103級畢業 2010/07~2014/06
        </div>
    </div>

</div>