<div class="inner-content">

    <div>
        <h2 style="padding-top: 12px;">關於</h2>
        <div class="content">
            <div>
                <div style="font-size: 32px; line-height: initial;">
                    洪晟崴
                </div>

                <div style="margin: 1rem 0; ">
                    擁有五年工作經驗，曾在智慧製造產業擔任<b>軟體工程師</b>，
                    實作中控台、資料處理系統的<b>前端</b>，並主要設計與實作<b>後端整合</b>，
                    對系統設計有基本概念，前後端皆有實作能力，不設限自己使用的程式語言，
                    會去<b>溝通、理解需求</b>，若有人渴了，不一定要掘井，或許當下給他一瓶礦泉水，就能滿足需求。
                </div>


                <!--
                <div>
                    另有程式圖表與小工具，歡迎連結觀看
                    <ul>
                        <li><a routerLink="/diagram">Diagram</a></li>
                        <li><a routerLink="/investment">Tools</a></li>
                    </ul>
                </div>
                <ul>
                    <li><a href="https://github.com/balato1992/">Github</a></li>
                    <li><a href="https://www.cakeresume.com/me/HongChengWei/">CakeResume</a></li>
                    <li><a href="https://leetcode.com/HongChengWei/">LeetCode</a></li>
                </ul>
                -->

                <div>
                    軟體工程師
                </div>
                <div>
                    <a href="mailto:balato1992@gmail.com" target="_blank">balato1992@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

    <!-- linkedin -->
    <!-- 語文能力 英文：中等 -->


    <div>
        <h2>專業能力</h2>
        <div class="content">
            <div style="display: flex; flex-wrap: wrap;">
                <div class="cusflex">
                    <div>後端語言</div>
                    <hr>
                    <ul>
                        <li>C#</li>
                    </ul>
                </div>
                <div class="cusflex">
                    <div>Windows 前端</div>
                    <hr>
                    <ul>
                        <li>WPF</li>
                        <li>WinForm</li>
                    </ul>
                </div>
                <div class="cusflex">
                    <div>網頁後端</div>
                    <hr>
                    <ul>
                        <li>ASP.Net Core MVC</li>
                    </ul>
                </div>
                <div class="cusflex">
                    <div>網頁前端</div>
                    <hr>
                    <ul>
                        <li>Angular, React</li>
                        <li>TypeScript</li>
                        <li>JS 繪圖元件(Kendo UI)</li>
                        <li>Web Socket</li>
                    </ul>
                </div>
                <div class="cusflex">
                    <div>Database</div>
                    <hr>
                    <ul>
                        <li>SQL</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="cusflex">
                    <div>其他</div>
                    <hr>
                    <ul>
                        <li>利用 UML 簡化程式架構、流程</li>
                        <li>基本多執行緒處理</li>
                        <li>WebAPI</li>
                        <li>熟悉使用網路資源與文件查找並解決問題</li>
                        <!--<li>善於整合或重構程式碼，降低耦合、增加可讀性</li>-->
                        <!--<li>整合資料處理的系統</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div>
        <h2>個性/特質</h2>
        <ul>
            <li>勇於提出問題與想法</li>
            <li>會去理解需求，以發掘並滿足需求的核心意義</li>
            <li>樂於溝通、對話，減少代溝與誤解</li>
            <li>學習能力佳，不畏懼使用新技術、語言</li>
                心思細膩
                善於找出問題的原因
                不畏懼挑戰
        </ul>
    </div>
    -->
    <!--
    <div>
        <h2>未來規劃</h2>
        <ul>
            <li>持續精進 正在學習系統規劃、UML 等技能</li>
        </ul>
    </div>
    -->

    <div>
        <h2>經歷/學歷</h2>
        <div class="content">
            <div>
                <div class="exp-title">
                    <div class="title">軟體工程師/合夥</div>
                    <div>零貳遊戲有限公司</div>
                    <div>2022/03~</div>
                </div>
                <div class="exp-content">
                    遊戲開發
                    <ul>
                        <li>Unity</li>
                        <li>系統原型開發 (2D, 迷宮, 自動戰鬥)</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="exp-title">
                    <div class="title">Side Projects/Piecework</div>
                    <div></div>
                    <div>2020/03~2022/03</div>
                </div>
                <div class="exp-content">
                    <div>
                        product-and-receipt
                        <ul>
                            <li>.NET Core/React/MySQL</li>
                            <li>公司資料/產品/收據 記錄</li>
                            <li>
                                <a href="javascript:void(0);" (click)="openDialog('product-and-receipt.png')">Preview Picture</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        Tic-tac-toe AI
                        <ul>
                            <li>Unity</li>
                            <li>Reinforcement Learning</li>
                            <li>Monte Carlo Method</li>
                        </ul>
                    </div>
                    <div>
                        投資相關工具
                        <ul>
                            <li>Angular/swimlane/mathjax-angular</li>
                            <li>DCA versus VA 簡易比較均價與均值差異</li>
                            <li>Kelly criterion 凱利公式</li>
                            <li><a routerLink="/investment">Tools Link</a></li>
                        </ul>
                    </div>
                    <div>
                        單字筆記網站 (ngx-your-vocabulary-book)
                        <ul>
                            <li>Angular/Express/Mongodb</li>
                            <li>使用 Google OAuth 登入，並以 mongodb 記錄帳號資訊與筆記資料</li>
                            <li>可用 Google Speech API 播放筆記</li>
                            <li>
                                <a href="javascript:void(0);" (click)="openDialog('vocabulary.png')">Preview Picture</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="exp-title">
                    <div class="title">專案助理/軟體工程師</div>
                    <div>成功大學 智慧製造研究中心(與先知科技合作)</div>
                    <div>2016/07~2020/03</div>
                </div>
                <div class="exp-content">
                    <div>
                        中控台
                        <!-- 設定、顯示工具機資料，判斷目前流程/狀態，執行動作/設定工具機資料 -->
                        <ul>
                            <li>C#/WPF</li>
                            <li>整合軟體外部5組以上硬體</li>
                            <li>利用設計模式記錄與韌體溝通之所有訊息，方便釐清問題所在</li>
                            <li>自製Logger與讀取器，呈現客製訊息、過濾條件</li>
                            <li>資料、功能流程管理</li>
                            <li>設計變數池來統整資料同步、觸發等問題</li>
                            <li>多執行續處理相關運算與資料同步</li>
                            <li>獨立實作介面 (即時資訊、各項設定)</li>
                            <!-- <li>Memory Leak</li> -->
                        </ul>
                    </div>
                    <div>
                        資料處理相關系統: KSA、IPM 系統
                        <!--  設定參數 -> 獲取資料庫資料，演算法計算、繪製圖形 -> 顯示資料、圖形 -->
                        <ul>
                            <li>C#/ASP.NET Core MVC/React/繪圖元件</li>
                            <li>設計排隊機制來非同步處理資料</li>
                            <li>分階段紀錄訊息，以便重現資料取得、演算與取得例外資訊</li>
                            <li>系統規劃、整合</li>
                            <li>介面實作</li>
                        </ul>
                    </div>
                    <div>
                        維護 AVM 系統
                        <ul>
                            <li>C#/WPF/C++/WinForm</li>
                            <li>C++ 轉換語言為 C# 並部分重構</li>
                            <li>合併被分別開發的子專案</li>
                            <li>自製欄位自動生成元件，依照物件屬性自動生成欄位來簡化開發</li>
                            <li>系統維護</li>
                        </ul>
                    </div>
                    <div>
                        其他專案
                        <ul>
                            <li>C#/ASP.NET Core MVC/MySQL</li>
                            <li>WPF/WinForm</li>
                            <li>React/Vue/KendoUI</li>
                            <li>繪圖元件</li>
                            <li>自製簡易 cache 避免客戶端高頻率刷新 占用資料庫資源</li>
                            <li>自製部分繪圖元件功能，再利用 WebSocket 即時刷新當下資訊</li>
                            <li>系統基本設計、整合</li>
                            <li>介面實作</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="exp-title">
                    <div class="title">韌體工程師</div>
                    <div>利錄科技股份有限公司</div>
                    <div>2016/01~2016/07</div>
                </div>
                <div class="exp-content">
                    <ul>
                        <li>拷貝機開發</li>
                        <li>AngularJS 製作官網</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="exp-title">
                    <div class="title">學士</div>
                    <div>臺南大學 資訊工程學系 103級</div>
                    <div>2010/07~2014/06</div>
                </div>
                <div class="exp-content">
                    <ul>
                        <li>2012 南區大專院校程式設計競賽 進階組 佳作</li>
                        <li>2012 臺南大學 南大資工程式競賽 第一名</li>
                        <li>2012 第16次ITSA線上程式設計大賽 績優團隊</li>
                        <li>2012 第17次ITSA線上程式設計大賽 績優團隊</li>
                        <li>2012 第19次ITSA線上程式設計大賽 績優團隊</li>
                        <li>2011 臺南大學 程式設計比賽 第一名</li>
                        <li>2010 臺南大學 程式設計比賽 第二名</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>