<div class="vertical-flex" style="height: 100vh;">
  <mat-toolbar color="primary" style="min-height: 64px;">
    <app-toolbar (menuClickEvent)="leftSidenav.toggle()"></app-toolbar>
  </mat-toolbar>
  <mat-sidenav-container style="height: calc(100% - 64px);">
    <mat-sidenav #leftSidenav [mode]="isMobile ? 'over' : 'side'" style="background-color: hsl(0 0% 95%);">
      <mat-nav-list>
        <app-sidenav-link-item [linkInfos]="linkInfos" [hiddenLevels]="isMobile? []: [0]" [currentLevel]="0">
        </app-sidenav-link-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="display: flex; flex-direction: column;">
      <div style="flex: 1 1 auto;" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <div class="custom-primary vertical-flex" style="padding: 24px; text-align: center;">
        Copyright © 2021 洪晟崴(balato1992@gmail.com) All rights reserved.
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>