<div class="vertical-flex" style="height: 100vh;">
  <mat-toolbar *ngIf="!hideLayout" color="primary" class="toolbar">
    <button mat-icon-button class="hover-effect" (click)="leftSidenav.toggle()"
      [@menuBtnAnimation]="isShownMenu ? 'show' : 'hidden'">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button color="primary" class="hover-effect title-font" [routerLink]="'/'">
      <mat-icon>cottage</mat-icon>
      Hong Cheng-Wei
    </button>
    <ng-container *ngIf="!isMobile">
      <button *ngFor="let linkInfo of linkInfos" mat-flat-button color="primary" class="hover-effect"
        [routerLink]="linkInfo.url">
        {{linkInfo.displayName}}
      </button>
    </ng-container>
    <span class="spacer"></span>
    <!-- <app-language></app-language> -->
    <a mat-icon-button color="primary" class="hover-effect" href="https://github.com/balato1992/balato1992.github.io/">
      <mat-icon svgIcon="githubicon" style="color: #fff;"></mat-icon>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav" [ngClass]="{'hide-layout': hideLayout}">
    <mat-sidenav #leftSidenav [mode]="isMobile ? 'over' : 'side'" style="background-color: hsl(0 0% 95%);">
      <mat-nav-list>
        <app-sidenav-link-item [linkInfos]="linkInfos" [hiddenLevels]="isMobile? []: [0]" [currentLevel]="0">
        </app-sidenav-link-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="display: flex; flex-direction: column;" #container>

      <div style="display: grid; flex: 1 1 auto; width: 100%;" [@routeAnimations]="getRouteAnimationData()">
        <router-outlet style="display: none;"></router-outlet>
      </div>
      <div class="custom-primary vertical-flex" style="padding: 24px; text-align: center;">
        Copyright © 2021 洪晟崴(balato1992@gmail.com) All rights reserved.
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>