<div class="vertical-flex" style="height: 100vh;">
  <mat-toolbar color="primary" style="min-height: 64px;">
    <app-toolbar [isMenuBtnVisible]="isSidenavVisible" (menuClickEvent)="leftSidenav.toggle()"></app-toolbar>
  </mat-toolbar>
  <mat-sidenav-container style="height: calc(100% - 64px);">
    <mat-sidenav #leftSidenav [mode]="mobileQuery.matches ? 'over' : 'side'" style="background-color: hsl(0 0% 95%);">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content style="display: flex; flex-direction: column;">
      <div style="flex: 1 1 auto;">
        <router-outlet></router-outlet>
      </div>
      <div class="custom-primary vertical-flex" style="padding: 24px; text-align: center;">
        Copyright © 2021 洪晟崴(balato1992@gmail.com) All rights reserved.
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>