<div style="padding: 12px;">
    <br>
    <h1 class="mat-display-2">Kelly criterion</h1>

    <p>
        In probability theory, the Kelly criterion (or Kelly strategy or Kelly bet), is a formula that determines the
        optimal theoretical size for a bet.
    </p>

    <mat-divider></mat-divider>

    <h2>Gambling formula</h2>
    
    <div>
        <div [mathjax]="'$\\LARGE{ f^* = p - { q \\over b } = p + { p-1 \\over b } }$'"></div>
        <ul>
            <li [mathjax]="'$ f^* $ is the fraction of the current bankroll to wager.'"></li>
            <li [mathjax]="'$ p $ is the probability of a win.'"></li>
            <li [mathjax]="'$ q $ is the probability of a loss $ (q = 1-p) $.'"></li>
            <li
                [mathjax]="'$ b $ is the proportion of the bet gained with a win. E.g. If betting \\$10 on a 2-to-1 odds bet, (upon win you are returned \\$30, winning you \\$20), then $ b = \\$20/\\$10 = 2.0 $ '">
            </li>
        </ul>
        <div style="float: right;">(From Wikipedia)</div>
    </div>

    <h2>Calculator</h2>
    <form [formGroup]="kcForm">
        <table cellspacing="0">
            <tr>
                <td style="padding-right: 8px;">
                    <mat-form-field appearance="fill">
                        <mat-label [mathjax]="'$ p $ (Probability of a win)'"></mat-label>
                        <input matInput formControlName="probability" type="number" step="1" max="100" min="0"
                            placeholder="Please enter value">
                        <span matSuffix>&nbsp;%</span>
                        <mat-error *ngIf="probability.hasError('max')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="probability.hasError('min')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="probability.hasError('required')">
                            Probability is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label [mathjax]="'$ b $ (Proportion of the bet gained)'"></mat-label>
                        <input matInput formControlName="proportion" type="number" step="1" max="1000000" min="0"
                            placeholder="Please enter value">
                        <mat-error *ngIf="proportion.hasError('max')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="proportion.hasError('min')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="proportion.hasError('required')">
                            Proportion is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>


        <div>
            Fraction of the current bankroll to wager:
            <strong>{{ kcForm.value.fraction | number }}</strong>
        </div>
    </form>
    <div style="overflow: auto; height: 400px;">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <!--
    <p>Form Value: {{ kcForm.value | json }}</p>
    <p>Form Status: {{ kcForm.status }}</p>
    -->
</div>