<div class="inner-content">
    <h2 style="font-size: 32px; padding-top: 12px;">Diagram</h2>

    <div style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <div>
                <div>基本介面資料刷新方式</div>
                <img [src]="'./assets/imgs/data_sync.png'" class="img-shadow">
            </div>
            <div>
                <div>遊戲角色功能循序圖</div>
                <img [src]="'./assets/imgs/uml_resume.png'" class="img-shadow">
            </div>
        </div>
    </div>

</div>
