@use '~@angular/material'as mat;

$primary : mat.define-palette(mat.$blue-palette, 800);
$accent  : mat.define-palette(mat.$teal-palette);
$theme   : mat.define-light-theme($primary, $accent);

$dark-p: mat.define-palette(mat.$blue-grey-palette, 500);
$dark-a: mat.define-palette(mat.$blue-grey-palette, 900);
$dark-t: mat.define-dark-theme($dark-p, $dark-a);


$primary-color : mat.get-color-from-palette($primary);
$primary-text-color: white;