/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './_variables.scss';

@include mat.core();
@include mat.all-component-themes($theme);

.darkTheme {
    @include mat.all-component-themes($dark-t);
}

.custom-primary {
    background-color: mat.get-color-from-palette($primary);
    color: $primary-text-color;

    a,
    a:active,
    a:hover,
    a:visited {
        color: $primary-text-color;
    }
}


/*#region general*/
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

button.hover-effect:hover,
a.hover-effect:hover {
    background: rgb(255 255 255 / 10%);
}

/*#endregion*/

/* #region font */
@font-face {
    font-family: lato;
    src: url('./assets/font/Lato/Lato-Italic.ttf') format("opentype");
}

/*#endregion*/

.title-font {
    font-family: lato;
    font-size: 1em;
    color: rgb(255, 171, 64) !important;
}

.spacer {
    flex: 1 1 auto;
}

.icon-button {
    padding: 0px 16px 0px 6px !important;
}

.inner-content {
    padding: 12px;
    margin: 0 auto;
    max-width: 740px;
}
.inner-content-full {
    margin: 12px;
}

.img-shadow {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}